<%- include('../../partials/user/nav'); -%>



<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Hot Deals</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Laptops</a></li>
                <li><a href="#">Smartphones</a></li>
                <li><a href="#">Cameras</a></li>
                <li><a href="#">Accessories</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->




<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<div class="page">
    <section class="shopping-cart dark">
        <div class="container">
           <div class="content">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">
                            <div class="product">
                                <div class="row ">
                                    <div class="col-md-3 flex-custom">
                                        <img class="img-fluid mx-auto d-block image" style="height: 100px;" src="https://rukminim2.flixcart.com/image/416/416/xif0q/graphics-card/u/4/d/gv-n4060eagle-oc-8gd-gigabyte-original-imahy7m5zkzt5uaf.jpeg?q=70&crop=false">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="info">
                                            <div class="row">
                                                <div class="col-md-5 product-name">
                                                    <div class="product-name">
                                                        <a href="#">GIGABYTE NVIDIA Geforce RTX 4060 Eagle Oc 8G</a>
                                                        <div class="product-info">
                                                            <div>Display: <span class="value">5 inch</span></div>
                                                            <div>RAM: <span class="value">4GB</span></div>
                                                            <div>Memory: <span class="value">32GB</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 quantity">
                                                    <label for="quantity">Quantity:</label>
                                                    <input id="quantity" type="number" value ="1" class="form-control quantity-input">
                                                </div>
                                                <div class="col-md-3 price">
                                                    <span>$120</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product">
                                <div class="row ">
                                    <div class="col-md-3 flex-custom">
                                        <img class="img-fluid mx-auto d-block image" style="height: 100px;" src="https://www.itmegabyte.com/wp-content/uploads/2020/09/Intel-Core-i9-10900-10th-Gen-Processor-06.jpg">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="info">
                                            <div class="row">
                                                <div class="col-md-5 product-name">
                                                    <div class="product-name">
                                                        <a href="#"> Intel Core i9-10900 10th Gen Processor</a>
                                                        <div class="product-info">
                                                            <div>Display: <span class="value">5 inch</span></div>
                                                            <div>RAM: <span class="value">4GB</span></div>
                                                            <div>Memory: <span class="value">32GB</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 quantity">
                                                    <label for="quantity">Quantity:</label>
                                                    <input id="quantity" type="number" value ="1" class="form-control quantity-input">
                                                </div>
                                                <div class="col-md-3 price">
                                                    <span>$120</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product">
                                <div class="row ">
                                    <div class="col-md-3 flex-custom">
                                        <img class="img-fluid mx-auto d-block image" style="height: 100px;" src="https://rukminim2.flixcart.com/image/416/416/xif0q/graphics-card/u/4/d/gv-n4060eagle-oc-8gd-gigabyte-original-imahy7m5zkzt5uaf.jpeg?q=70&crop=false">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="info">
                                            <div class="row">
                                                <div class="col-md-5 product-name">
                                                    <div class="product-name">
                                                        <a href="#">GIGABYTE NVIDIA Geforce RTX 4060 Eagle Oc 8G</a>
                                                        <div class="product-info">
                                                            <div>Display: <span class="value">5 inch</span></div>
                                                            <div>RAM: <span class="value">4GB</span></div>
                                                            <div>Memory: <span class="value">32GB</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 quantity">
                                                    <label for="quantity">Quantity:</label>
                                                    <input id="quantity" type="number" value ="1" class="form-control quantity-input">
                                                </div>
                                                <div class="col-md-3 price">
                                                    <span>$120</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Checkout</h3>
                            <div class="summary-item"><span class="text">Subtotal</span><span class="price">$360</span></div>
                            <div class="summary-item"><span class="text">Discount</span><span class="price">$0</span></div>
                            <div class="summary-item"><span class="text">Shipping</span><span class="price">$0</span></div>
                            <div class="summary-item"><span class="text">Total</span><span class="price">$360</span></div>
                            <button type="button" style="background-color: #D10024; color: white;" class="btn btn-lg btn-block">Checkout</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
   </section>
</div>



<%- include('../../partials/user/footer'); -%>