<%- include('../../partials/user/nav'); -%>
<title>User Profile</title>


<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="/categories/processors">Processors</a></li>
                <li><a href="/categories/graphics-card">Graphics Card</a></li>
                <li><a href="/categories/mother-board">Mother Board</a></li>
                <li><a href="/categories/storage">Storage</a></li>
                <li><a href="/categories/processors">Memory</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->



<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="/">Home</a></li>
                    <li>Profile</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->


<div class="container user-pannel">
    <!-- User Profile Section -->
    <div class="row">
        <a href="/orders">
            <div class="col-md-4 col-sm-6">
                <div class="profile-card">
                    <i class="fas fa-box"></i>
                    <h4>Orders</h4>
                    <p>View and manage your orders</p>
                </div>
            </div>
        </a>
        <a href="/address">
            <div class="col-md-4 col-sm-6">
                <div class="profile-card">
                    <i class="fas fa-map-marker-alt"></i>
                    <h4>Address</h4>
                    <p>Manage your delivery addresses</p>
                </div>
            </div>
        </a>
        <a href="/password_reset">
        <div class="col-md-4 col-sm-6">
            <div class="profile-card">
                <i class="fas fa-key"></i>
                <h4>Forgot Password</h4>
                <p>Reset your account password</p>
            </div>
        </div>
        </a>
        <a href="/wallet">
            <div class="col-md-4 col-sm-6">
                <div class="profile-card">
                    <i class="fas fa-wallet"></i>
                    <h4>Wallet</h4>
                    <p>View and manage your wallet balance</p>
                </div>
            </div>
        </a>
        
    </div>
</div>




<%- include('../../partials/user/footer'); -%>