<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Signup</title>
    
    <!-- Google font -->
    <link href="/style/cdn/googleFontMontserrat.css" rel="stylesheet">

    <!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/style/cdn/bootstrap.css"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <!-- Style Sheet -->
    <link rel="stylesheet" href="/style/form-style.css">

</head>

<body>

    <!-- LOGIN FORM -->
    <div class="signup-form">
        <h2>Create Your Account</h2>
        <!-- Error message placeholder -->
        <label id="error-message"></label> 

        <form action="/signup" method="POST" onsubmit="return validateSignupForm()">
            <div class="form-group">
                <input id="user-name" type="text" class="form-control" placeholder="User Name" name="uname" required data-toggle="tooltip" data-placement="top" title="Create a password">
            </div>
            <div class="form-group">
                <input id="password" type="password" class="form-control" placeholder="Password" name="password" required data-toggle="tooltip" data-placement="top" title="Create a password">
            </div>
            <button type="submit" class="btn btn-signup">Sign Up <i class="fas fa-arrow-right"></i></button>
        </form>

    </div>
    <!-- /LOGIN FORM -->

    <!-- jQuery Plugins -->
    <script src="/script/jQuery.js"></script>
    <script src="/script/bootstrap.min.js"></script>
    <script src="/script/validate.js"></script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        
    </script>

</body>

</html>
