
      <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/admin_template/assets/vendors/js/vendor.bundle.base.js" defer></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/admin_template/assets/vendors/chart.js/Chart.min.js" defer></script>
    <script src="/admin_template/assets/vendors/progressbar.js/progressbar.min.js" defer></script>
    <script src="/admin_template/assets/vendors/jvectormap/jquery-jvectormap.min.js" defer></script>
    <script src="/admin_template/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js" defer></script>
    <script src="/admin_template/assets/vendors/owl-carousel-2/owl.carousel.min.js" defer></script>
    <script src="/admin_template/assets/js/jquery.cookie.js" type="text/javascript" defer></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/admin_template/assets/js/off-canvas.js" defer></script>
    <script src="/admin_template/assets/js/hoverable-collapse.js" defer></script>
    <script src="/admin_template/assets/js/misc.js" defer></script>
    <script src="/admin_template/assets/js/settings.js" defer></script>
    <script src="/admin_template/assets/js/todolist.js" defer></script>
    

    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/admin_template/assets/js/dashboard.js" defer></script>
    <!-- End custom js for this page -->
  </body>
</html>